html, body {
	font-family: 'Arial';
	padding: 0;
	margin: 0;
}

div.header img, div.header h1 {
	vertical-align: middle;
	display: inline-block;
	padding-right: 2em;
	color: rgb(237, 223, 61);
}
div.headerfooter {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: rgb(100,20,120);
}
div.footer {
	color: rgb(255, 255, 255);
}

div.main {
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

table th, table td {
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

h1 {
	font-size: 20pt;
}

table {
	margin: 1em;
	box-shadow: 0px 0px 10px #888888;
}

table th {
	background-color: rgb(235,120,255);
}

table.stats tr:nth-child(odd) td {
	background-color: rgb(245,220,255);
}

table.stats tr.disabledplayer td {
	color: rgb(150, 150, 150);
}

table.matches tr th:nth-child(2), table.matches tr td:nth-child(2) {
	background-color: rgb(237, 223, 61);
}

table.matches tr th:nth-child(3), table.matches tr td:nth-child(3) {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

form input {
	width: 150px;
	height: 25px;
	margin: 2px;
}

form input.king_action {
	border-color: yellow;
}
form input.challenger_action {
	border-color: gray;
}

div.adminzone {
	display: inline-block;
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
	color: red;
	font-size: 20pt;
}
div.adminzone, form.adminzone {
	background-color: cornsilk;
	padding: 10px;
	border-radius: 15px 20px 0px 0px;
	border: 2px solid darkturquoise;
}
div.adminzone b:nth-child(odd) {
	color: blue;
	font-size: 110%;
}
div.adminzone b:nth-child(4), div.adminzone b:nth-child(8) {
	color: green;
	font-size: 90%;
}
div.adminzone b:nth-child(5), div.adminzone b:nth-child(11) {
	color: orange;
	font-size: 130%;
}

div.goodstuff {
	font-size: 20pt;
	color: green;
	background-color: #caffca;
	padding: 5px;
	border-radius: 5px 5px 5px;
	border: 1px solid green;
}

div.badstuff {
	font-size: 20pt;
	color: red;
	background-color: #ffcaca;
	padding: 5px;
	border-radius: 5px 5px 5px;
	border: 1px solid red;
}

form.invisible, form.invisible * {
	position: absolute;
	left: -4444px;
}
