            </div>
        </div>
        <div class='footer headerfooter'>
            &nbsp;&nbsp;&nbsp;<img src='./assets/admin_mini.png' alt='x' title='¯\_(ツ)_/¯' ondblclick='document.getElementById("loginpassword").value="¯\\_(ツ)_/¯"' />
            <form class='invisible' method='post' class='adminzone' id='login'>
                <input id='loginpassword' type='text' name='password' value='(ಠ_ಠ)' />
                <input type='submit' />
            </form>
            People usually write something here, right?
            <img src='./assets/admin_mini.png' alt='x' title='( ͡° ͜ʖ ͡°)' oncontextmenu='document.getElementById("login").classList.remove("invisible");event.preventDefault();' />
        </div>
    </body>
</html>