<h2>Match-making</h2>
<p>If there are only kings, new teams are formed as follows:</p>
<ol>
<li>If there are odd number of players, random player with chicken will be skipped in match-making. If there are even number of players, random two players with chicken will be skipped.</li>
<li>If player is skipped due to having chicken, that chicken is removed.</li>
<li>Free players are sorted by their winrates and split in half. Players marked as OP are treated as 100% winrate to prevent OP teams. If number of free players is odd, player with most matches played is omitted</li>
<li>Both halves are randomly shuffled, independent of each other</li>
<li>Shuffled halves are paired together by their indices (n-th in upper half is in team with n-th from lower half)</li>
<li>Goalie is the player in team that has lower ratio of matches played as goalie/total. If both players have same ratio, random is selected</li>
<li>Teams are put into queue to challenge current kings in order as they were formed in</li>
</ol>
