<h2>Rules</h2>
<h3>Match rules</h3>
<ul>
<li>Matches are played best of one</li>
<li>At start ball is thrown in center. After goal, team that received goal gets it (in the middle)</li>
<li>Scoring a goal with first touch is considered foul, you don't get score for that, opposing goalie gets the ball</li>
<li>When ball is unreachable, goalie which is closer gets it. If it is stuck in middle, it is thrown in</li>
<li>When ball flies out of the table, player who shot is responsible, so opposing goalie receives the ball</li>
<li>When ball flies out of goal, it only counts when all 4 players agree that it was indeed a goal. Otherwise, game continues</li>
<li>Uncontrolled spinning of handles counts as foul when any figure touches the ball. Opposing goalie gets the ball</li>
<li>as a bonus, be friendly. E.g. if opposing player hands you a ball, wait until he has both hands on handles before playing, etc.</li>
</ul>
<h3>King of the Hill rules</h3>
<ul>
<li>Matches are always Kings vs Challengers</li>
<li>If Kings win, their win streak is increased by one, and Challengers are returned to pool of free players</li>
<li>If Challengers win, they become new Kings and old Kings are returned to pool of free players</li>
<li>If there are no Challengers left, new teams of Challengers are created from free players according to match-making rules</li>
<li>Kings are responsible for organizing matches. Organizing must start before 12:00 in official channel to prevent chicken</li>
<li>If no match is played on work-day, Challengers gets 'chicken', if Kings tried to organize match. If Kings didn't try, they get chicken</li>
<li>If match result isn't reported in official channel on that day, match didn't happen</li>
<li>Kings receive handicap of 1 earned goal for each 2 wins. (challenger starting goals = floor(crowns/2))</li>
<li>If some player isn't at work, his team is removed without chicken. In order to avoid chicken, player must be marked AW/HO in calendar</li>
<li><b>NO EXCEPTIONS</b></li>
</ul>
